 body{
     background-color: #aab4b4;
 }
 hr{
     border-style: none;
     border-top-style: dotted;
     border-width: 3px;
     color: #808080;
     width: 7%;
 }
 .heading{
     text-align: center;
 }
 fieldset{
     border-style: dotted;
     border-color: #808080;
 }
 .submit-btn{
     background-color: grey;
 }
 .submit-search{
     background-color: grey;
    
 }